html {
    font-family: 'Courier New', Courier, monospace;
    background: url(../images/ring-blur.jpg) no-repeat fixed center;
    background-size: cover;
}

body {
    background-color: black;
    color: lightgray;
    /* background: url(../images/ring-blur.jpg) no-repeat fixed center;
    background-size: cover; */
    width: 90%;
    height: auto;
    margin: auto;
    
}

#top {
    background: black;
    padding: 0;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    padding-left: 60px;
    padding-right: 60px;
}

#middle {
    background: black;
    display: grid;
    grid-template-columns: 47% 47%;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 5px;
    justify-content: space-around;
}

/* RESPONSIVE DESIGN */

@media (max-width: 425px) {
    #blink {
        font-size: 20px;
    }


    #middle {
        display: block
    }

    .thumbnail {
        width: 190px;
        height: auto;
    }

    #entry-thumbnails ul {
        margin: auto;
        list-style: none;
        justify-items: center;
    }

}

@media (min-width: 426px) and (max-width: 768px) {
    #blink {
        font-size: 40px;
    }

    #top {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #middle {
        display: block
    }

    .thumbnail {
        width: 250px;
        height: auto;
    }

    #entry-thumbnails ul {
        margin-left: 60px;
        margin-right: 60px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        list-style: none;
        justify-items: center;
    }

}

@media (min-width: 769px) {

    #blink {
        font-size: 60px;
    }

    .thumbnail {
       width: 230px;
       height: auto;
       padding: 3px;
   }
   
   #entry-thumbnails ul {
       margin-left: 60px;
       margin-right: 60px;
       display: grid;
       list-style: none;
       grid-template-columns: 33.3% 33.3% 33.3%;
       grid-template-rows: auto;
       justify-items: center;
       
   }
   
   }

.index-img {
    width: 80px;
    height: auto;
    /* padding-top: 30px; */
    display: grid;
    margin: auto;
    /* padding: 20px; */
}

#flipped-img {
    transform: scaleX(-1);
}

h1 {
    text-align: center;
    font-weight: normal;
    color:white;
    display: grid;
    margin: auto;
}

#blink {
    /* animation: blink step-start 0.5s infinite; */
    margin: 0;
    padding: 30px;

    /* font-size: 3em; */

}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

hr {
    margin: 0;
}

 .center-text {
    text-align: center;
    margin: 0;
    padding-bottom: 1em;
 }

#entries {
    color:white;
    list-style: none;
}

#entries li a {
    color:white;
}

#entries li a:hover {
    color:gray;
}

em {
    font-style: normal;
    color: white;
}

/* entry thumbnails */

/* .thumbnail {
    width: 200px;
    height: auto;
    padding: 3px;
} */

#entry-thumbnails {
    background-color: black;
}
#thumbnail-list li {
    margin-bottom: 1em;
}

#thumbnail-list li:hover {
    transform: scale(1.1);
}

#thumbnail-list li a {
    color: black;
}

#thumbnail-list li a:hover {
    color:white;
}


/* footer */

footer {
    padding: 60px;
    background-color: black;
    color:white;
    display: grid;
    grid-template-columns: 90% 5%;
}

footer p {
    margin: 0;
}

footer a {
    color: white;
    margin: 0;
}

footer a:hover {
    color: lightgray;
}

/* entries */

.entry-img {
    width: 500px;
    height: auto;
    display: block;
    margin: auto;
    /* border-radius: 10px; */
    border: 3px solid white;
    transition: transform .2s;
}

.entry-img:hover {
    transform: scale(1.25);
}

.entryh1 {
   margin: 0;
   padding: 10px;
}

.entry-text {
    padding: 60px;
}

.entry-ring-list {
    list-style: none;
    color:white;
    padding-bottom: 5px;
    padding-left: none;
}

ul {
    padding: 0;
    margin: 0;
}

.links {
    color:gray;
}
